.menu li{
    display: block;
    float: left;
    list-style-type: none;
}

div.a {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    float:right
  }
  
.top li {
    display: inline;
    list-style-type: none;
    float: inline-start
}