body {
    margin: 0;
}

* {
    box-sizing:border-box;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;

}

.menu{
    overflow: hidden;
    background-color: darkgray;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content1 {
    background-color: lightgray;
    float: left;
    width: 30%;
    padding: 20px;
    overflow: hidden;
    display: inline-block;
}

.content1 a{
    color: black;
    text-decoration: none;
}

.content2 {
    background-color: white;
    width: auto;
    padding: 20px;
    width: 70%;
    overflow: hidden;
}

.content2 p{
    color: black;
}

.footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    overflow: hidden;
    display: inline-block;

}