body{
    background-color: black;
    color: white;
}

h1{
    font-size: 20px;
}

p{
    font-size: 12px;
    color: lightgray;
}

div{
    border-style: dotted;
    width: 100px;
    height: 100px;
    font-size: 2px
}

ol li {
    list-style: lower-latin;
}
    

ul li{
    list-style-type: square;
}
