li a {
    display: inline;
    float: left;
    list-style-type: none;
}
div.b {
    width: 150px;
    border: 1px solid black;
    display: inline; 
  }
li {
    display: block;
    list-style-type: none;
    float: inline-start;
}